In [1]:
import json
import urllib3
import config
import pandas as pd
import string
import datetime

http = urllib3.PoolManager()

# http://api.openweathermap.org/geo/1.0/direct?q={city name},{state code},{country code}&limit={limit}&appid={API key}
location = [
    'New York City, NY, USA',
    'Los Angeles, CA, USA',
    'Chicago, IL, USA',
    'Houston, TX, USA',
    'Phoenix, AZ, USA',
    'Philadelphia, PA, USA',
    'San Antonio, TX, USA',
    'San Diego, CA, USA',
    'Dallas, TX, USA',
    'San Jose, CA, USA',
    'Austin, TX, USA',
    'Jacksonville, FL, USA',
    'Fort Worth, TX, USA',
    'Columbus, OH, USA',
    'San Francisco, CA, USA',
    'Charlotte, NC, USA',
    'Indianapolis, IN, USA',
    'Seattle, WA, USA',
    'Denver, CO, USA',
    'Washington, DC, USA'    
]

# append to empty df doesn't happen in place; need to store it first
# https://stackoverflow.com/questions/16597265/appending-to-an-empty-dataframe-in-pandas
loc_responses = []
all_weather_data = []
weather_data = []

for l in location:
    # Location call
    call_string = 'https://api.openweathermap.org/geo/1.0/direct?q=' + l + '&limit=1&appid=' + config.api_key
    loc_response = json.loads(http.request('GET', call_string).data)
    loc_responses.append(loc_response)
    print(l, loc_response[0]['lat'], loc_response[0]['lon'])

    # Weather call
    call_string = 'https://api.openweathermap.org/data/2.5/weather?lat=' + str(loc_response[0]['lat']) + '&lon=' + str(loc_response[0]['lon']) + '&appid=' + config.api_key
    weather_response = json.loads(http.request('GET', call_string).data)
    all_weather_data.append(weather_response)
    
    # optional additional weather information:
    add_cols = [
        ['humidity' , 'main' , 'humidity', 1],
        ['cloudiness' , 'clouds' , 'all', 1],
        ['wind_speed' , 'wind' , 'speed', 2.237],
        ['rain_1h' , 'rain' , '1h', 1/25.4],
        ['rain_3h' , 'rain' , '3h', 1/25.4],
        ['snow_1h' , 'snow' , '1h', 1/25.4],
        ['snow_3h' , 'snow' , '3h', 1/25.4]
    ]

    for i in add_cols:
        try : 
            i.append(weather_response[i[1]][i[2]] * i[3])
        except : 
            i.append(0)
    
    # useful for processing json: https://stackoverflow.com/questions/67745643/select-specific-keys-inside-a-json-using-python
    weather_trim = { 
        'city' : weather_response['name'],
        'description' : weather_response['weather'][0]['description'],
        'icon' : weather_response['weather'][0]['icon'],   
        'current_temp' : weather_response['main']['temp'] - 273.15,
        'feels_like' : weather_response['main']['feels_like'] - 273.15,
        'temp_min' : weather_response['main']['temp_min'] - 273.15,
        'temp_max' : weather_response['main']['temp_max'] - 273.15,
        add_cols[0][0] : add_cols[0][4],
        add_cols[1][0] : add_cols[1][4],
        add_cols[2][0] : add_cols[2][4],
        add_cols[3][0] : add_cols[3][4],
        add_cols[4][0] : add_cols[4][4],
        add_cols[5][0] : add_cols[5][4],
        add_cols[6][0] : add_cols[6][4],
        #'visibility': weather_response['visibility'],
        'sunrise' : datetime.datetime.fromtimestamp(weather_response['sys']['sunrise']),
        'sunset' : datetime.datetime.fromtimestamp(weather_response['sys']['sunset']),
        'current_time' :  datetime.datetime.fromtimestamp(weather_response['dt']),
        'timezone' : weather_response['timezone'],
        'lat' : weather_response['coord']['lat'],
        'lon' : weather_response['coord']['lon']        
    }

    weather_data.append(weather_trim)

New York City, NY, USA 40.7127281 -74.0060152
Los Angeles, CA, USA 34.0536909 -118.242766
Chicago, IL, USA 41.8755616 -87.6244212
Houston, TX, USA 29.7589382 -95.3676974
Phoenix, AZ, USA 33.4484367 -112.074141
Philadelphia, PA, USA 39.9527237 -75.1635262
San Antonio, TX, USA 29.4246002 -98.4951405
San Diego, CA, USA 32.7174202 -117.1627728
Dallas, TX, USA 32.7762719 -96.7968559
San Jose, CA, USA 37.3361663 -121.890591
Austin, TX, USA 30.2711286 -97.7436995
Jacksonville, FL, USA 30.3321838 -81.655651
Fort Worth, TX, USA 32.753177 -97.3327459
Columbus, OH, USA 39.9622601 -83.0007065
San Francisco, CA, USA 37.7790262 -122.419906
Charlotte, NC, USA 35.2272086 -80.8430827
Indianapolis, IN, USA 39.7683331 -86.1583502
Seattle, WA, USA 47.6038321 -122.330062
Denver, CO, USA 39.7392364 -104.984862
Washington, DC, USA 38.8950368 -77.0365427

In [2]:
weather_df = pd.json_normalize(weather_data)
weather_df.head()

,city,description,icon,current_temp,feels_like,temp_min,temp_max,humidity,cloudiness,wind_speed,rain_1h,rain_3h,snow_1h,snow_3h,sunrise,sunset,current_time,timezone,lat,lon
0,New York,clear sky,01d,25.59,25.28,24.41,27.12,41,0,17.26964,0.0,0,0,0,2024-11-01 04:26:49,2024-11-01 14:52:15,2024-11-01 11:14:28,-14400,40.7127,-74.0060
1,Los Angeles,clear sky,01d,18.26,17.53,16.00,20.63,53,0,6.91233,0.0,0,0,0,2024-11-01 07:13:03,2024-11-01 17:59:56,2024-11-01 11:09:12,-25200,34.0544,-118.2441
2,Chicago,few clouds,02d,10.18,8.74,8.88,11.12,57,20,2.99758,0.0,0,0,0,2024-11-01 05:23:28,2024-11-01 15:44:34,2024-11-01 11:14:42,-18000,41.8756,-87.6244
3,Houston,overcast clouds,04d,26.53,26.53,25.51,27.28,77,100,10.35731,0.0,0,0,0,2024-11-01 05:35:22,2024-11-01 16:34:36,2024-11-01 11:11:16,-18000,29.7589,-95.3677
4,Phoenix,scattered clouds,03d,21.85,20.61,20.39,23.41,20,40,6.91233,0.0,0,0,0,2024-11-01 06:47:27,2024-11-01 17:36:10,2024-11-01 11:09:04,-25200,33.4484,-112.0740

In [3]:
# Weather forecast
# api.openweathermap.org/data/2.5/forecast?lat={lat}&lon={lon}&appid={API key}
all_forecasts = []
forecast_data = []

for l in loc_responses:
    call_string = 'https://api.openweathermap.org/data/2.5/forecast?lat=' + str(l[0]['lat']) + '&lon=' + str(l[0]['lon']) + '&appid=' + config.api_key
    forecast_response = json.loads(http.request('GET', call_string).data)
    all_forecasts.append(forecast_response)
    for l in forecast_response['list']:
        forecast_trim = { 
            'city' : forecast_response['city']['name'],
            'description' : l['weather'][0]['description'],
            'icon' : l['weather'][0]['icon'],   
            'current_temp' : l['main']['temp'] - 273.15,
            'feels_like' : l['main']['feels_like'] - 273.15,
            'temp_min' : l['main']['temp_min'] - 273.15,
            'temp_max' : l['main']['temp_max'] - 273.15,
            #'visibility': l['visibility'],
            'forecast_time' :  datetime.datetime.fromtimestamp(l['dt']),
            'timezone' : forecast_response['city']['timezone']
        }
        forecast_data.append(forecast_trim)

In [4]:
forecast_df = pd.json_normalize(forecast_data)
forecast_df.head()

,city,description,icon,current_temp,feels_like,temp_min,temp_max,forecast_time,timezone
0,New York,clear sky,01d,24.24,23.69,21.53,24.24,2024-11-01 14:00:00,-14400
1,New York,clear sky,01n,19.55,18.74,16.53,19.55,2024-11-01 17:00:00,-14400
2,New York,clear sky,01n,13.86,12.63,13.86,13.86,2024-11-01 20:00:00,-14400
3,New York,clear sky,01n,12.21,10.79,12.21,12.21,2024-11-01 23:00:00,-14400
4,New York,clear sky,01n,11.39,9.97,11.39,11.39,2024-11-02 02:00:00,-14400

In [44]:
# Filling in the gaps
original = forecast_df.copy()
fill1 = forecast_df.copy()
fill2 = forecast_df.copy()

# Datasource names
original['dataset'] = 'original' 
fill1['dataset'] = 'fill1'
fill2['dataset'] = 'fill2'

# Synth times
fill1['forecast_time'] += pd.to_timedelta(1, unit='h')
fill2['forecast_time'] += pd.to_timedelta(2, unit='h')

# Synth temperatures
fill1['current_temp'] -= (fill1['current_temp'] - fill1['current_temp'].shift(-1)) / 3 
fill2['current_temp'] -= (fill2['current_temp'] - fill2['current_temp'].shift(-1)) / 3 * 2 
fill1['feels_like'] -= (fill1['feels_like'] - fill1['feels_like'].shift(-1)) / 3 
fill2['feels_like'] -= (fill2['feels_like'] - fill2['feels_like'].shift(-1)) / 3 * 2 

# Union
forecast_df = pd.concat([original, fill1, fill2]).sort_values(['city', 'forecast_time'])
forecast_df.head(10)

,city,description,icon,current_temp,feels_like,temp_min,temp_max,forecast_time,timezone,dataset
400,Austin,light rain,10d,25.120000,25.590000,25.12,26.55,2024-11-01 14:00:00,-18000,original
400,Austin,light rain,10d,24.983333,25.483333,25.12,26.55,2024-11-01 15:00:00,-18000,fill1
400,Austin,light rain,10d,24.846667,25.376667,25.12,26.55,2024-11-01 16:00:00,-18000,fill2
401,Austin,light rain,10n,24.710000,25.270000,24.71,24.87,2024-11-01 17:00:00,-18000,original
401,Austin,light rain,10n,24.376667,24.946667,24.71,24.87,2024-11-01 18:00:00,-18000,fill1
401,Austin,light rain,10n,24.043333,24.623333,24.71,24.87,2024-11-01 19:00:00,-18000,fill2
402,Austin,light rain,10n,23.710000,24.300000,23.71,23.71,2024-11-01 20:00:00,-18000,original
402,Austin,light rain,10n,23.303333,23.933333,23.71,23.71,2024-11-01 21:00:00,-18000,fill1
402,Austin,light rain,10n,22.896667,23.566667,23.71,23.71,2024-11-01 22:00:00,-18000,fill2
403,Austin,moderate rain,10n,22.490000,23.200000,22.49,22.49,2024-11-01 23:00:00,-18000,original

In [45]:
# Appending icon data to ensure correct Tableau icon assignment regardless of what's contained in the dataset
icons = {'icon_forecast' : ['01d','02d','03d','04d','09d','10d','11d','13d','50d','01n','02n','03n','04n','09n','10n','11n','13n','50n'], 
'icon_current' : ['01d','02d','03d','04d','09d','10d','11d','13d','50d','01n','02n','03n','04n','09n','10n','11n','13n','50n']}
icon_df = pd.DataFrame(icons)

In [46]:
final_df = forecast_df.merge(weather_df, on = 'city', how = 'inner',  suffixes=('_forecast', '_current'))
final_df = pd.concat([final_df, icon_df])
# use assert to test equality; ex. to test that we didn't create new columns:
# assert final_df.shape[1] == final_df1.shape[1]
final_df.to_excel('current_forecast_weather.xlsx')